@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

:root {

  --main-bg: #faf4eb;

  --grid-size: 80vmin;
  --grid-color: #283747;
  --grid-first-player-font: #B03A2E;
  --grid-second-player-font: #2874A6;
  --grid-tie-font: #424949;
  --grid-won-font: #17A589;
  --grid-lost-font: #E5E8E8;

  --overlay-default-bg: #5dade2ad;
  --overlay-win-bg: #1ebc608c;
  --overlay-tie-bg: #ee6f1a8c;
  --overlay-font: #ecf0f1;
  --overlay-btn-bg: rgba(116, 116, 116, 0.452);
  --overlay-btn-font: var(--overlay-font);
  --overlay-default-font: var(--overlay-font);
  --overlay-won-font: var(--overlay-font);
  --overlay-tie-font: var(--overlay-font);
}

:root.dark {

  --main-bg: #242929;

  --grid-color: #454C52;
  --grid-first-player-font: #FF5630;
  --grid-second-player-font: #00B8D9;
  --grid-tie-font: #424949;
  --grid-won-font: #17A589;
  --grid-lost-font: #E5E8E8;

  --overlay-default-bg: #181818e4;
  --overlay-win-bg: var(--overlay-default-bg);
  --overlay-tie-bg: var(--overlay-default-bg);
  --overlay-font: #ecf0f1;
  --overlay-btn-bg: #263238;
  --overlay-btn-font: #F5F5F5;
  --overlay-default-font: #4FC3F7;
  --overlay-won-font: #00C853;
  --overlay-tie-font: #E64A19;
}



html,
body {
  overscroll-behavior-y: none;
  position: relative;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  background: var(--main-bg);
}

h1 {
  text-align: center;
}

.overlay {
  padding: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-delay: 0.5s;
  transition-duration: 1s;
  z-index: -1;
  gap: 0.5rem;
  color:  var(--overlay-default-font);
  background-color: var(--overlay-default-bg);
  font-size: calc(var(--grid-size) / 8);
  text-shadow: 4px 3px 0px rgb(41, 41, 41), 9px 8px 0px rgba(0, 0, 0, 0.15);
  transition-property: opacity, z-index;
}

.btn {
  font-size: calc(var(--grid-size) / 16);
  border-radius: 0.2rem;
  padding: 0.4rem 0.6rem;
  font-weight: bold;
  background-color: var(--overlay-btn-bg);
  color: var(--overlay-btn-font);
  cursor: pointer;
  border: none;
}

.btn:hover {
  filter: brightness(80%);
}

#intro {
  background-color: var(--overlay-default-bg);
  color:  var(--overlay-default-font);
}

#win {
  background-color: var(--overlay-win-bg);
  color: var(--overlay-won-font);
}

#tie {
  background-color: var(--overlay-tie-bg);
  color: var(--overlay-tie-font);

}

.visible {
  opacity: 1;
  z-index: 2;
  transition-delay: 1s;
}

#container {
  height: var(--grid-size);
  width: var(--grid-size);
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: calc(var(--grid-size) / 3);
  height: calc(var(--grid-size) / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: calc(var(--grid-size) / 4);
  transition-duration: 0.4s;
  transition-property: color;
}

.bR {
  border-right: 2px solid var(--grid-color);
}

.bL {
  border-left: 2px solid var(--grid-color);
}

.bD {
  border-bottom: 2px solid var(--grid-color);
}

.bU {
  border-top: 2px solid var(--grid-color);
}

#theme-wrapper {
  position: absolute;
  top: 2vmax;
  left: 3vmax;
  z-index: 5;
  background-color: inherit;
  border-radius: 50%;
  padding: 1rem;
  background-color: #283747;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bxs-sun {
  color: #FFCF4B;
}

.bxs-moon {
  color: #ECF0F1;
}

#theme-wrapper>* {
  position: absolute;
  transition: .3s;
}

#theme-wrapper>input[type="checkbox"] {
  transform: scale(2);
  position: absolute;
  opacity: 0;
  z-index: 6;
}

#theme-wrapper>input[type="checkbox"]~.bxs-sun {
  opacity: 0;
}

#theme-wrapper>input[type="checkbox"]:checked~.bxs-moon {
  opacity: 0;
}

#theme-wrapper>input[type="checkbox"]:checked~.bxs-sun {
  opacity: 1;
}





.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
